body {
	background-color:#333;
}
h1 {
	font-size: 40px;
	color: #fff;
}
h2 {
	font-size:20px;
	color:#e1e1e1;
}
p {
	display: block;
	width: 500px;
	margin: 0 auto;
	font-size: 15px;
	font-color: #000;
	text-align: left;
}
.bla {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
